

.bg-control{

    background: url(../../assets/images/bg-mint.jpg);
    background-size: cover;
    height: 1000px;
    background-repeat: no-repeat;
}

.container-control{
    display: flex;
    flex-direction: column;
}

.coming-soon-text{
    font-size: 60px;
    font-family: "Copper-Bold";
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    color: white;
    text-shadow: 0px 0px 20px #ffffff;
}

.main-control{
    width: 100%;
    height: 500px !important;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.bg-border-control{
    margin-top: 50px;
    background-color: #3d1010;
    min-height: 500px;
    padding: 46px;
    border-radius: 46px;
    box-shadow: 0px 0px 10px #c55f5f;
}

.logo-hotel{
    width: 300px;
    height: auto;
    object-fit: contain;
}

.gif-control{
    width: 80%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.grid-control{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;

    
}

.item-control{
    display: flex;
    flex-direction: column;
}

.text-public-sale{
    font-size: 24px;
    font-family: "Copper-Bold";
    color: white;
    text-shadow: 0px 0px 20px #ffffff;
}

.text-price{
    margin-top: 24px;
    font-size: 20px;
    font-family: "Copper-Bold";
    color: white;
}

.button-mint{
    cursor: pointer !important;
    width: auto;
    height: 110px;
    object-fit: contain;
}

@media only screen and (max-width: 1440px) {
    .main-control{
        width: 40%;
    }

}

@media only screen and (max-width: 1200px) {
    .main-control{
        width: 50%;
    }

}

@media only screen and (max-width: 960px) {
    .main-control{
        width: 70%;

    }

}

@media only screen and (max-width: 660px) {
    .main-control{
        width: 80%;

    }

    

}

@media only screen and (max-width: 480px) {
    .main-control{
        width: 80%;
    }

    .logo-hotel{
        width: 230px;
    }
    .text-public-sale{
        font-size: 18px;
        
    }
    .text-price{
        font-size: 18px;
    }

    .button-mint{
        height: 70px;
    }

}